
@import url('https://fonts.googleapis.com/css?family=Montserrat');
html{
    font-size: 16px;
}
.container{
    width:100%;
    height:100%;
    overflow: hidden;
}
.header-row{
    background: #0F17D5;
    height:auto;
}
.img-row{
    padding-top:3%;
}
.my-img{
    border-radius:50%;
    width:10%;
    height:auto;
    display: block;
}
.fa{
    padding-top: 30px;
    padding-right: 22px; 
}
.text-1{
    font-family: 'Montserrat', sans-serif;
    font-size:0.8rem;
    text-align: justify;
}
.text{
    color:#ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    font-size:1rem;
}
.row-exp{
    padding-top:5%;
}
.heading-2{
    color:#ffffff;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
}
.heading-5{
    color:black;
    font-family: 'Montserrat', sans-serif;
}
.heading-3{
    font-family: 'Montserrat', sans-serif;
    color:#0F17D5;
    margin-left:-9px;
}
.heading-4{
    font-family: 'Montserrat', sans-serif;
    color:#0F17D5;
    margin-left:-17px;
}
.icon{
    color:#8ca4af;
}
.progress-row{
    padding-top: 10%;
    padding-left: 5%;
}
.progress{
    width:70%;
}
.progress-bar{
    background-color:#0F17D5;
    color:#ffffff;
    font-size: 1.2rem;
    
}
.heading-6{
    font-family: 'Montserrat', sans-serif;
    padding-top: 10px;
}

.contact-list{
    font-family: 'Montserrat', sans-serif;
    font-size:0.8rem;
    list-style-type: none;
    padding-top: 3%;
    margin-left: -2%;
}

.intersts{
    list-style-type: none;
    display: inline;
    padding-right:7%;
    margin-left: -3%;
} 

ul.experiences {
    padding-left: 15px;
    margin-top: -1px;
}
ul.experiences li {
    padding-left: 15px;
    margin-bottom: 2.5em;
    list-style: none;
}


ul.experiences li {
    position:relative; /* so that pseudoelements are positioned relatively to their "li"s*/
    /* use padding-bottom instead of margin-bottom.*/ 
    margin-bottom: 0; /* This overrides previously specified margin-bottom */
    padding-bottom: 2.5em;
}

ul.experiences li:after {
    /* bullets */
    content:"";
    width:10px;
    height:10px;
    border-radius: 50%;
    background-color: #0F17D5;
    position: absolute;
    left: -20px; /*adjust manually*/
    top: 5px;
}

ul.experiences li:before {
    /* lines */
    content:"";
    position: absolute;
    left: -16px; /* adjust manually */
    border-left: 1px solid black;
    height: 100%;
    width: 1px;
}

ul.experiences li:first-child:before {
   /* first li's line */
   top: 6px; /* moves the line down so that it disappears under the bullet. Adjust manually */
}

ul.experiences li:last-child:before {
    /* last li's line */
   height:70%; /* shorten the line so it goes only up to the bullet. Is equal to first-child:before's top */
}
p {
    /*CSS reset*/
    margin-bottom: 0;
}
